@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?y9cnjy');
  src:  url('fonts/icomoon.eot?y9cnjy#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?y9cnjy') format('truetype'),
    url('fonts/icomoon.woff?y9cnjy') format('woff'),
    url('fonts/icomoon.svg?y9cnjy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e902";
}
.icon-arrow-down:before {
  content: "\e900";
  color: #3c4758;
}
.icon-arrow-dropright:before {
  content: "\e002";
  color: #3c4758;
}
.icon-arrow-circle-right:before {
  content: "\e001";
}
.icon-arrow-dropleft:before {
  content: "\e003";
  color: #3c4758;
}
