/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .header .mobile-nav-bar {
        width: 100%;
    }


    .dealer-section .dealer-card {
        width: 100%;
    }


    .service-section .service-card {
        width: 50%;
    }
}


/* Small devices (landscape phones, between 576px and 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .dealer-section .dealer-card {
        width: 50%;
    }


    .service-section .service-card {
        width: 50%;
    }
}


/* Medium devices (tablets, between 768px and 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .header {
        position: relative;
    } 
    .header .mobile-nav-bar {
        position: absolute;
        display: block;
        top: 120%;
        z-index: 100;
        width: 25%;
        background: #fff;
        box-shadow: 0px 12px 24px rgba(0,0,0, 0.1);
    }
    .header ul li .link:hover,
    .header ul li .link.active {
        border-radius: 0;
    }


    .dealer-section .dealer-card {
        width: 33.3%;
    }


    .service-section .service-card {
        width: 50%;
    }
}


/* Large devices (desktops, between 992px and 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) { 

}