/* *** Start - Common Styles *** */
:root {
    --primary-color: #0860b3;
    --light-color: #e2edfc;
    --text-color: #3c4758;
}
@font-face {
    font-family: "Gilroy";
    src: url("/Content/assets/fonts/Gilroy-Medium.ttf");
    font-weight: normal;
}
@font-face {
    font-family: "Gilroy";
    src: url("/Content/assets/fonts/Gilroy-Bold.ttf");
    font-weight: bold;
}

html, body {
    font-family: "Gilroy";
    color: var(--text-color);
    overflow-x: hidden !important;
}

h1, h2, h3, h4, h5, h6, input, label {
    font-weight: bold;
}

.icon {
    float: right;
    font-style: normal;
}

.img-wrapper img {
    width: 100%;
    height: inherit;
    object-fit: cover;
}

.common-card {
    border: none;
}

.common-card .card-img-wrapper {
    margin: 0px 20px;
    border-radius: 1.2em;
    overflow: hidden;
}

.common-card .card-txt-wrapper {
    width: 78%;
    margin: 12px auto 6px;
}

.common-card .card-title {
    display: flex;
    justify-content: space-between;
}

.common-card .card-title i {
    margin-top: 4px;
    margin-left: 4px;
}

.common-card .card-sub-title {
    margin-bottom: 0.4em;
}

.car-status {
    padding: 0.3em 0em;
    border-radius: 1.2em;
    color: var(--primary-color);
}

.car-tag {
    padding: 0.3em 0.7em;
    border-radius: 1.2em;
    color: var(--text-color);
    background: rgba(226, 237, 252, 0.5);
}

.btn {
    padding: 0.6em 1em;
    border-radius: 1em;
    background: var(--primary-color);
    font-weight: bold;
}

.btn-light {
    border: none;
    background: var(--light-color);
    color: var(--text-color);
    text-decoration: none;
}

.description {
    font-size: 18px;
}

.pagination-container .pagination li.active span {
    margin: 0px 4px;
    padding: 0.5em 1em;
    border-radius: 0.8em !important;
    border: 1.5px solid var(--primary-color);
    background: var(--primary-color);
}

.pagination-container .pagination li a {
    margin: 0px 4px;
    padding: 0.5em 1em;
    border-radius: 0.8em !important;
    border: 1.5px solid var(--primary-color);
    /* background: var(--primary-color); */
}

/* --- jQuery UI Slider --- */
.ui-slider-horizontal {
    position: relative;
    top: 4px;
    height: 8px !important;
}
.ui-widget-header {
    background: var(--primary-color);
}

.ui-widget.ui-widget-content {
    border: none;
    background: var(--light-color);
}

.ui-widget.ui-widget-content.ui-autocomplete {
    background: #ffffff;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 0.4em;
}

.ui-widget.ui-widget-content.ui-autocomplete .ui-menu-item {
    color: var(--text-color);
    font-family: "Gilroy";
}

.ui-widget.ui-widget-content.ui-autocomplete .ui-menu-item .ui-menu-item-wrapper {
    padding: 0.6em 0.8em;
    border-radius: 0.2em;
    border: none;
}

.ui-widget.ui-widget-content.ui-autocomplete .ui-menu-item:hover .ui-menu-item-wrapper {
    background: var(--light-color);
    color: var(--text-color);
}

.ui-slider .ui-slider-range {
    border: 1px solid #fff;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -6px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: var(--primary-color) !important;
}
.slider-range-max .ui-slider-handle .range-val {
    position: absolute;
    top: 16px;
    left: -16px;
    width: 80px;
    border: none;
    outline: none;
    background: none;
    font-size: 14px;
}

/* *** End - Common Styles *** */

/* *** Start - Home Page *** */
.header {
    width: 90%;
    margin: auto;
}
.header * {
    box-sizing: border-box;
}
.header ul li {
    list-style: none;
    margin: 12px 6px;
}
.header ul li .link {
    position: relative;
    padding: 12px 24px;
    text-decoration: none;
    color:  var(--text-color);
    font-weight: bold;
}
.header ul li .link:hover,
.header ul li .link.active {
    background: var(--primary-color);
    border-radius: 1.2em;
    color: #ffffff;
}
.header ul li .link .count {
    position: absolute;
    top: -6px;
    left: 0px;
    padding: 2px 8px; 
    border-radius: 50%;
    background: #ff6e6e;
    color: #fff;
    font-size: 14px;
}
.header .login {
    position: relative;
    padding: 12px 24px;
    border-radius: 1.2em;
    color:  var(--text-color);
    background: var(--light-color);
    font-weight: bold;
    white-space: nowrap;
    text-decoration: none;
}
.header .login:hover {
    background: var(--primary-color);
    color: #ffffff;
}
.header .login.logged {
    padding-left: 56px;
}
.header .login.logged img.profile {
    position: absolute;
    top: -4px;
    left: -8px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    object-fit: cover;
}

/* --- Hero Section --- */
.hero-section .img-wrapper {
    max-width: 200px;
    margin: 42px auto 32px;
}
.hero-section .hero-title {
    margin: auto;
    text-align: center;
}
.hero-section .hero-search {
    position: relative;
    padding: 1.2em;
    border-radius: 24px;
    background: var(--light-color);
}
.hero-section .hero-search .input-wrapper {
    border-radius: 12px;
    background: #fff;
}
.hero-section .hero-search .input-wrapper .input-field {
    width: 25%;
    flex: 1 1 auto;
    padding: 0.4em 0.8em;
    border: none;
    outline: none;
    color: var(--text-color);
}
.hero-section .hero-search .input-wrapper .btn-search {
    /*outline: none;*/
    outline-style: none !important;
    border: none !important;
}
.btn-search {
    outline-style: none !important;
    border: none !important;
}
.hero-section .v-line {
    width: 1px;
    height: inherit;
    margin: 4px 0px 4px 10px;
    border: none;
    border-left: 2px solid var(--light-color);
}
.hero-section .hero-search .btn-dropdown {
    position: absolute;
    left: 49%;
    bottom: -8%;
    width: 30px;
    height: 30px;
    font-size: 30px;
    cursor: pointer;
    transition: all 0.2s ease;
}
.hero-section .hero-search .btn-dropdown.btn-transform {
    bottom: -4%;
    transform-origin: 50% 50%;
    transform: rotate(180deg);
}
.hero-section .hero-search .tabs {
    background: #fff;
    border-radius: 0.8em;
}
.hero-section .hero-search .tabs label {
    margin-bottom: 0px;
}
.hero-section .hero-search .tabs.switch-field label {
    border-radius: 0.8em;
}
.hero-section .other-filters {
    padding: 20px;
    border-radius: 12px;
    background: #fff;
}

/* --- Ad Section --- */
.ad-section .ad-container {
    position: relative;
    height: 240px;
    background-position: center;
    background-size: cover;
}
.ad-container .title {
    position: relative;
    top: 42%;
    color: #fff;
}
.ad-container .bottom-txt {
    position: relative;
    top: 57%;
    padding: 12px;
    color: #fff;
    background: #000;
}

.ad-section .ad-container:before {
    content: '';
    position: absolute;
    top: 0; 
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.65);
}

/* --- Feature Section --- */
.feature-section .feature-card .card-img-wrapper {
    border-radius: 2.4em;
    height: 280px;
}
.feature-section .feature-card .card-img-wrapper img {
    height: inherit;
    object-fit: cover;
}
.feature-section .showroom-info {
    width: 40%;
}
.feature-section .showroom-info .img-wrapper {
    width: 35%;
    height: 124px;
    border-radius: 1.2em;
    overflow: hidden;
}
.feature-section .showroom-info .img-wrapper img {
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.feature-section .showroom-info .txt-wrapper {
    width: 55%;
    margin: 0px 5%;
}
.feature-section .banner {
    width: 60%;
    height: 132px;
    border-radius: 1.2em;
    overflow: hidden;
}
.feature-section .banner img {
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* --- Service Section --- */
.service-section .service-card {
    width: 25%;
}
.service-section .service-card .card-img-wrapper {
    border-radius: 2.4em;
}
.service-section .service-card .card-img-wrapper img {
    height: 320px;
    object-fit: cover;
}


/* --- Exchange Section --- */
.exchange-section {
    width: 80%;
}
.exchange-section .txt-wrapper {
    width: 52%;
    margin: 0px 4%;
}
.exchange-section .img-wrapper {
    width: 40%;
    border-radius: 2.4em;
    overflow: hidden;
}

/* --- Banner Section --- */
.banner-section {
    margin: 72px auto;
}
.banner-section .slider-container {
    position: relative;
}
.banner-section .slider-container .slider-item {
    position: relative;
    height: 320px;
    background-size: cover;
    background-position: center;
}
.banner-section .slider-container .slider-item:before {
    content: '';
    position: absolute;
    top: 0; 
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.65);
}
.banner-section .prev-btn {
    position: absolute;
    top: 42%;
    left: 6%;
    z-index: 1000;
    padding: 20px;
    border-radius: 14px;
    background: #fff;
    cursor: pointer;
}
.banner-section .next-btn {
    position: absolute;
    top: 42%;
    right: 6%;
    z-index: 1000;
    padding: 20px;
    border-radius: 14px;
    background: #fff;
    cursor: pointer;
}
.banner-section .slider-container .icon:before {
    font-size: 30px;
    line-height: normal;
}
.banner-section .slider-text {
    position: relative;
    top: 46%;
    width: 70%;
    margin: auto;
    color: #fff;
}

/* --- Dealer Section --- */
.dealer-section {
    width: 80%;
    margin: auto;
}
.dealer-section .dealer-card {
    width: 25%;
}
.dealer-section .dealer-card .card-img-wrapper img {
    height: 200px;
    object-fit: cover;
}
.dealer-section .prev-btn {
    position: absolute;
    top: 38%;
    left: -9%;
    z-index: 1000;
    padding: 20px;
    border-radius: 14px;
    cursor: pointer;
    font-size: 34px;
}
.dealer-section .next-btn {
    position: absolute;
    top: 38%;
    right: -9%;
    z-index: 1000;
    padding: 20px;
    border-radius: 14px;
    cursor: pointer;
    font-size: 34px;
}

/* --- App Section --- */
.app-section {
    /* width: 80%;
    margin: auto; */
}
.app-section .app-type .img-wrapper {
    width: 42px;
    margin: auto;
}
.app-section .img-wrapper img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.app-section .app-type .btn {
    white-space: nowrap;
}

/* --- News Section --- */
.news-section {
    /* width: 80%; */
    margin: auto;
}
.news-section .txt-wrapper {
    width: 52%;
    margin: 0px 4%;
}
.news-section .img-wrapper {
    width: 38%;
    height: 300px;
    border-radius: 2.4em;
    overflow: hidden;
}
.news-section .title {
    line-height: 1.5em;
}

/* --- ShortNav Section --- */
.shortnav-section {
    width: 80%;
    margin: auto;
}

.shortnav-section .card-img-wrapper img {
    border-radius: 1.2em;
    background: var(--light-color);
}

.shortnav-section .item {
    width: 20%;
}

/* --- ContactUs Section --- */
.contactus-section {
    width: 80%;
    margin: auto;
}
.contactus-section .txt-wrapper {
    width: 52%;
    margin: 0px 4%;
}
.contactus-section .img-wrapper {
    width: 40%;
    height: 300px;
    border-radius: 2.4em;
    overflow: hidden;
}

/* *** End - Home Page *** */


/* *** Start - Buy Page *** */

.result-section .result-card {
    width: 25%;
}
.result-section .result-card .card-img-wrapper img {
    height: 200px;
    object-fit: cover;
}

/* *** End - Buy Page *** */


/* *** Start - Detail Page *** */

.detail-section .detail-info-props {
    background: #f5f5f5;
    border-radius: 1.4em;
}
.detail-info-props .tabs {
    background: #fff;
    border-radius: 0.8em;
}
.detail-info-props .tabs label {
    margin-bottom: 0px;
}
.detail-info-props .tabs.switch-field label {
    border-radius: 0.8em;
}
.detail-section .detail-header .icon {
    width: 30px;
    height: 30px;
    font-size: 30px;
    transform: rotate(90deg);
}
.detail-section .detail-header .icon:before {
    margin-left: 0;
}

.detail-section .slider-container {
    border: none;
}
.detail-section .slider-container .slick-track {
    /* width: 100% !important; */
    margin: 0;
}
.detail-section .slider-container .slick-track img {
    /* padding: 10px !important; */
    border-radius: 1.6em;
}
.detail-section .slider-container .slick-list {
    margin: 0 -12px;
}
.detail-section .slider-container .slick-slide>div {
    padding: 0 10px;
}
.detail-section .slider-container .prev-btn {
    position: absolute;
    top: 102%;
    right: 10%;
    z-index: 1000;
    border-radius: 14px;
    background: #fff;
    font-size: 24px;
    cursor: pointer;
}
.detail-section .slider-container .next-btn {
    position: absolute;
    top: 102%;
    right: 3%;
    z-index: 1000;
    border-radius: 14px;
    background: #fff;
    font-size: 24px;
    cursor: pointer;
}

.detail-section .img-wrapper {
    height: 420px;
    border-radius: 1.2em;
    overflow: hidden;
}
.detail-section .img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.detail-section .banner {
    height: 92px;
    border-radius: 16px;
    overflow: hidden;
}
.detail-section .banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.detail-section .img-thumbnail img {
    height: 112px;
    object-fit: cover;
    border-radius: 32px;
}

/* --- Premium Stand Section --- */

.premium-stand-section .card-img-wrapper {
    border-radius: 18px;
}
.premium-stand-section .card-img-wrapper img {
    height: 102px;
    object-fit: cover;
}

.premium-stand-section .btn {
    white-space: nowrap;
}

/* --- Feed Section --- */

.feed-section .chat-container {
    border-radius: 28px;
    background: #f5f5f5;
}
.feed-section .chat-img {
    border-radius: 50%;
}
.feed-section .chat-txt {
    background: var(--light-color);
    padding: 0.8em 1em;
    border-radius: 1em;
}
.feed-section .chat-txt.self {
    background: var(--primary-color);
    color: #fff;
}
.feed-section .chat-msg {
    height: 450px;
    overflow-y: scroll;
}
.feed-section .chat-input .input-wrapper {
    border-radius: 1.2em;
    background: #fff;
}
.feed-section .chat-input .input-wrapper .input-field {
    width: 25%;
    flex: 1 1 auto;
    padding: 0.4em 0.8em;
    border: none;
    outline: none;
    color: var(--text-color);
}
.disableBullet {
    list-style-type: none;
}
.bt {
    border-top: 1px solid #d8d3d3
}
.ml-3 {
    margin-left: 3px;
}
.ml-5{
    margin-left:5px;
}
.ml-10{
    margin-left:10px;
}
.ml-15 {
    margin-left: 15px;
}
.ml-20{
    margin-left:20px;
}
.btn-submit{
    outline:none!important;
    padding:10px;
    border:none!important;
}
.bt {
    border-top: 1px solid #d6d1d1;
    border-bottom: 1px solid #d6d1d1;
}
.pa-t5{
    padding-top:5px;
}
.txtbox{
    border: none;
    outline: none;
    border-radius: 5px;
    height:25px;
}

/* *** End - Detail Page *** */

/* *** Start - Showroom Page *** */

.showroom-page .hero-section .tabs label {
    font-size: 16px;
    padding: 0.8em 1.4em;
}

.showroom-page .d-flex .tabs {
    width: 30%;
    margin: 1%;
}
.showroom-page .d-flex .input-wrapper {
    width: 46%;
    margin: 1%;
}
.showroom-page .d-flex .exchange-wrapper {
    width: 16%;
    margin: 1%;
}
.showroom-page .result-card .card-txt-wrapper {
    width: 50%;
    margin: 0;
}

.showroom-page .result-card .card-img-wrapper img {
    height: 184px;
    object-fit: cover;
}

.showroom-page .news-section {
    width: 100%;
}
.showroom-page .news-section .img-wrapper {
    width: 100%;
}

/* *** End - Showroom Page *** */


/* *** Start - Exchange Page *** */

.exchange-page .shortnav-section .item {
    width: 24%;
    margin: 2% 4%;
    padding: 2%;
    border-radius: 36px;
}
.exchange-page .shortnav-section .item.current {
    background: var(--light-color);
}
.exchange-page .shortnav-section .card-img-wrapper img {
    background: none;
}
.exchange-page .owncar-section i.icon-info {
    position: relative;
    top: 4px;
    font-size: 22px;
}
.exchange-page .owncar-section .add-card {
    width: 24%;
    margin: 0% 1%;
    padding-top: 136px;
    border-radius: 36px;
    background: var(--light-color);
    text-align: center;
    cursor: pointer;
}
.exchange-page .owncar-section .add-card i.add-icon {
    font-size: 36px;
}

.exchange-page .choose-state .list .card {
    width: 24%;
    margin: 0% 1%;
    padding: 18px;
    border: none;
    border-radius: 36px;
    cursor: pointer;
}
.exchange-page .choose-state .list .card.selected {
    background: var(--light-color);
}
.exchange-page .choose-state .list .card .card-img-wrapper {
    margin: auto;
}
.exchange-page .choose-state .list .card .card-txt-wrapper {
    width: 90%;
}
.exchange-page .offer-section i {
    font-size: 36px;
}
.exchange-page .offer-section .price-listing {
    width: 35%;
    background: #f5f5f5;
    border-radius: 1.4em;
}
.exchange-page .offer-section .price-listing li::marker {
    color: var(--primary-color);
    font-size: 22px;
    line-height: 0px;
}
.exchange-page .offer-section .price-listing .title {
    background: #fff;
    border-radius: 0.8em;
}
.exchange-page .offer-section .price-listing .sub-label {
    font-size: 13px;
}
.exchange-page .offer-section .price-listing input {
    width: 35%;
    border: none;
    border-radius: 8px;
    outline: none;
    text-align: right;
    /* box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2); */
    border: 1px solid var(--text-color);
}
.exchange-page .offer-section .price-listing .btn {
    font-size: 15px;
    padding: 8px 14px;
}
.exchange-page .offer-section .info {
    font-size: 15px;
}
.exchange-page .offer-section .highlight {
    color: var(--primary-color);
}

/* *** End - Exchange Page *** */