.switch-field {
	display: flex;
	overflow: hidden;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	margin-right: 16px;
    padding: 0.6em 1em;
	border: none;
	border: 1px solid #e2edfc;
	border-radius: 16px;
	background-color: rgba(226, 237, 252, 0.1);
	color: #3c4758;
	font-size: 14px;
	line-height: 1;
	text-align: center;
	transition: all 0.1s ease-in-out;
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: #e2edfc;
	box-shadow: none;
}

/* .switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
} */

#see_cartype.switch-field {
	display: flex;
	overflow: hidden;
}

#see_cartype.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

#see_cartype.switch-field label {
    padding: 0em 1em 0.6em;
	border: none;
	border: 1px solid #e2edfc;
	border-radius: 12px;
	color: var(--primary-color);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	transition: all 0.1s ease-in-out;
	cursor: pointer;
}

#see_cartype.switch-field label:before {
	content: '•';
    position: relative;
    top: 4px;
    right: 6px;
	color: var(--primary-color);
    font-size: 24px;
}

#see_cartype.switch-field input:checked + label {
	background: #c8d8ee;
	box-shadow: none;
}